.TodoList {
  width: 600px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
}

.TodoList__text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;

  font-size: 25px;
  font-weight: bold;
}
